# WeRateDogs Analysis
## 1. Gather Data

In [15]:
import requests
import pandas as pd
import io
import tweepy
import json

### 1.1 WeRateDogs archive

In [168]:
twitter_archive_df = pd.read_csv('../data/twitter-archive-enhanced.csv')

In [169]:
twitter_archive_df.head(20)

,tweet_id,in_reply_to_status_id,in_reply_to_user_id,timestamp,source,text,retweeted_status_id,retweeted_status_user_id,retweeted_status_timestamp,expanded_urls,rating_numerator,rating_denominator,name,doggo,floofer,pupper,puppo
0,892420643555336193,NaN,NaN,2017-08-01 16:23:56 +0000,"<a href=""http://twitter.com/download/iphone"" r...",This is Phineas. He's a mystical boy. Only eve...,NaN,NaN,NaN,https://twitter.com/dog_rates/status/892420643...,13,10,Phineas,None,None,None,None
1,892177421306343426,NaN,NaN,2017-08-01 00:17:27 +0000,"<a href=""http://twitter.com/download/iphone"" r...",This is Tilly. She's just checking pup on you....,NaN,NaN,NaN,https://twitter.com/dog_rates/status/892177421...,13,10,Tilly,None,None,None,None
2,891815181378084864,NaN,NaN,2017-07-31 00:18:03 +0000,"<a href=""http://twitter.com/download/iphone"" r...",This is Archie. He is a rare Norwegian Pouncin...,NaN,NaN,NaN,https://twitter.com/dog_rates/status/891815181...,12,10,Archie,None,None,None,None
3,891689557279858688,NaN,NaN,2017-07-30 15:58:51 +0000,"<a href=""http://twitter.com/download/iphone"" r...",This is Darla. She commenced a snooze mid meal...,NaN,NaN,NaN,https://twitter.com/dog_rates/status/891689557...,13,10,Darla,None,None,None,None
4,891327558926688256,NaN,NaN,2017-07-29 16:00:24 +0000,"<a href=""http://twitter.com/download/iphone"" r...",This is Franklin. He would like you to stop ca...,NaN,NaN,NaN,https://twitter.com/dog_rates/status/891327558...,12,10,Franklin,None,None,None,None
5,891087950875897856,NaN,NaN,2017-07-29 00:08:17 +0000,"<a href=""http://twitter.com/download/iphone"" r...",Here we have a majestic great white breaching ...,NaN,NaN,NaN,https://twitter.com/dog_rates/status/891087950...,13,10,None,None,None,None,None
6,890971913173991426,NaN,NaN,2017-07-28 16:27:12 +0000,"<a href=""http://twitter.com/download/iphone"" r...",Meet Jax. He enjoys ice cream so much he gets ...,NaN,NaN,NaN,"https://gofundme.com/ydvmve-surgery-for-jax,ht...",13,10,Jax,None,None,None,None
7,890729181411237888,NaN,NaN,2017-07-28 00:22:40 +0000,"<a href=""http://twitter.com/download/iphone"" r...",When you watch your owner call another dog a g...,NaN,NaN,NaN,https://twitter.com/dog_rates/status/890729181...,13,10,None,None,None,None,None
8,890609185150312448,NaN,NaN,2017-07-27 16:25:51 +0000,"<a href=""http://twitter.com/download/iphone"" r...",This is Zoey. She doesn't want to be one of th...,NaN,NaN,NaN,https://twitter.com/dog_rates/status/890609185...,13,10,Zoey,None,None,None,None
9,890240255349198849,NaN,NaN,2017-07-26 15:59:51 +0000,"<a href=""http://twitter.com/download/iphone"" r...",This is Cassie. She is a college pup. Studying...,NaN,NaN,NaN,https://twitter.com/dog_rates/status/890240255...,14,10,Cassie,doggo,None,None,None
10,890006608113172480,NaN,NaN,2017-07-26 00:31:25 +0000,"<a href=""http://twitter.com/download/iphone"" r...",This is Koda. He is a South Australian decksha...,NaN,NaN,NaN,https://twitter.com/dog_rates/status/890006608...,13,10,Koda,None,None,None,None
11,889880896479866881,NaN,NaN,2017-07-25 16:11:53 +0000,"<a href=""http://twitter.com/download/iphone"" r...",This is Bruno. He is a service shark. Only get...,NaN,NaN,NaN,https://twitter.com/dog_rates/status/889880896...,13,10,Bruno,None,None,None,None
12,889665388333682689,NaN,NaN,2017-07-25 01:55:32 +0000,"<a href=""http://twitter.com/download/iphone"" r...",Here's a puppo that seems to be on the fence a...,NaN,NaN,NaN,https://twitter.com/dog_rates/status/889665388...,13,10,None,None,None,None,puppo
13,889638837579907072,NaN,NaN,2017-07-25 00:10:02 +0000,"<a href=""http://twitter.com/download/iphone"" r...",This is Ted. He does his best. Sometimes that'...,NaN,NaN,NaN,https://twitter.com/dog_rates/status/889638837...,12,10,Ted,None,None,None,None
14,889531135344209921,NaN,NaN,2017-07-24 17:02:04 +0000,"<a href=""http://twitter.com/download/iphone"" r...",This is Stuart. He's sporting his favorite fan...,NaN,NaN,NaN,https://twitter.com/dog_rates/status/889531135...,13,10,Stuart,None,None,None,puppo
15,889278841981685760,NaN,NaN,2017-07-24 00:19:32 +0000,"<a href=""http://twitter.com/download/iphone"" r...",This is Oliver. You're witnessing one of his m...,NaN,NaN,NaN,https://twitter.com/dog_rates/status/889278841...,13,10,Oliver,None,None,None,None
16,888917238123831296,NaN,NaN,2017-07-23 00:22:39 +0000,"<a href=""http://twitter.com/download/iphone"" r...",This is Jim. He found a fren. Taught him how t...,NaN,NaN,NaN,https://twitter.com/dog_rates/status/888917238...,12,10,Jim,None,None,None,None
17,888804989199671297,NaN,NaN,2017-07-22 16:56:37 +0000,"<a href=""http://twitter.com/download/iphone"" r...",This is Zeke. He has a new stick. Very proud o...,NaN,NaN,NaN,https://twitter.com/dog_rates/status/888804989...,13,10,Zeke,None,None,None,None
18,888554962724278272,NaN,NaN,2017-07-22 00:23:06 +0000,"<a href=""http://twitter.com/download/iphone"" r...",This is Ralphus. He's powering up. Attempting ...,NaN,NaN,NaN,https://twitter.com/dog_rates/status/888554962...,13,10,Ralphus,None,None,None,None
19,888202515573088257,NaN,NaN,2017-07-21 01:02:36 +0000,"<a href=""http://twitter.com/download/iphone"" r...",RT @dog_rates: This is Canela. She attempted s...,8.874740e+17,4.196984e+09,2017-07-19 00:47:34 +0000,https://twitter.com/dog_rates/status/887473957...,13,10,Canela,None,None,None,None

In [170]:
twitter_archive_df.shape

(2356, 17)

### 1.2 Dog breed prediction

In [251]:
r = requests.get('https://d17h27t6h515a5.cloudfront.net/topher/2017/August/599fd2ad_image-predictions/image-predictions.tsv')

In [252]:
r.status_code

200

In [253]:
r.headers['content-type']

'text/tab-separated-values; charset=utf-8'

In [254]:
raw_data = r.content

In [255]:
prediction_df = pd.read_csv(io.StringIO(raw_data.decode('utf-8')), sep='\t')
prediction_df.tail(2)

,tweet_id,jpg_url,img_num,p1,p1_conf,p1_dog,p2,p2_conf,p2_dog,p3,p3_conf,p3_dog
2073,892177421306343426,https://pbs.twimg.com/media/DGGmoV4XsAAUL6n.jpg,1,Chihuahua,0.323581,True,Pekinese,0.090647,True,papillon,0.068957,True
2074,892420643555336193,https://pbs.twimg.com/media/DGKD1-bXoAAIAUK.jpg,1,orange,0.097049,False,bagel,0.085851,False,banana,0.076110,False

### 1.3 Twitter like and retweet counts

In [ ]:
consumer_key = 'XXXXXX'
consumer_secret = 'XXXXXX'
access_token ='XXXXXX'
access_token_secret = 'XXXXXX'

auth = tweepy.OAuthHandler(consumer_key, consumer_secret)
auth.set_access_token(access_token, access_token_secret)

api = tweepy.API(auth, wait_on_rate_limit=True, wait_on_rate_limit_notify=True)

In [ ]:
#tweet_id = 666020888022790149
tweets = []
for tweet_id in list(twitter_archive_df['tweet_id']):
    try:
        tweet = api.get_status(tweet_id) #, tweet_mode='extended')
        #json_str = json.dumps(tweet._json)
        tweets.append(tweet)
    except tweepy.TweepError as e:
        print(e.response.text)

In [81]:
len(tweets)

2337

In [84]:
my_list_of_dicts = []
for each_json_tweet in tweets:
    my_list_of_dicts.append(each_json_tweet._json)

In [85]:
with open('tweet_dogs.txt', 'w') as file:
        file.write(json.dumps(my_list_of_dicts, indent=4))

In [89]:
len(all_data)

2337

In [92]:
my_demo_list = []
with open('tweet_dogs.txt', encoding='utf-8') as json_file:  
    all_data = json.load(json_file)
    for each_dictionary in all_data:
        tweet_id = each_dictionary['id']
        text = each_dictionary['text']
        favorite_count = each_dictionary['favorite_count']
        retweet_count = each_dictionary['retweet_count']
        created_at = each_dictionary['created_at']
        my_demo_list.append({'tweet_id': str(tweet_id),
                             'text': str(text),
                             'favorite_count': int(favorite_count),
                             'retweet_count': int(retweet_count),
                             'created_at': created_at,
                            })
    tweet_json = pd.DataFrame(my_demo_list, columns = 
                                  ['tweet_id', 'text', 
                                   'favorite_count', 'retweet_count', 
                                   'created_at'])

In [93]:
tweet_json.shape

(2337, 5)

In [109]:
tweet_json.head()

,tweet_id,text,favorite_count,retweet_count,created_at
0,892420643555336193,This is Phineas. He's a mystical boy. Only eve...,37594,8199,Tue Aug 01 16:23:56 +0000 2017
1,892177421306343426,This is Tilly. She's just checking pup on you....,32314,6062,Tue Aug 01 00:17:27 +0000 2017
2,891815181378084864,This is Archie. He is a rare Norwegian Pouncin...,24351,4010,Mon Jul 31 00:18:03 +0000 2017
3,891689557279858688,This is Darla. She commenced a snooze mid meal...,40937,8358,Sun Jul 30 15:58:51 +0000 2017
4,891327558926688256,This is Franklin. He would like you to stop ca...,39128,9051,Sat Jul 29 16:00:24 +0000 2017

In [96]:
tweet_json.to_csv('../data/tweet_dogs.csv', index=False)

In [281]:
# read tweet_dogs.csv
tweets_df = pd.read_csv('../data/tweet_dogs.csv')
tweets_df.head(20)

,tweet_id,text,favorite_count,retweet_count,created_at
0,892420643555336193,This is Phineas. He's a mystical boy. Only eve...,37594,8199,Tue Aug 01 16:23:56 +0000 2017
1,892177421306343426,This is Tilly. She's just checking pup on you....,32314,6062,Tue Aug 01 00:17:27 +0000 2017
2,891815181378084864,This is Archie. He is a rare Norwegian Pouncin...,24351,4010,Mon Jul 31 00:18:03 +0000 2017
3,891689557279858688,This is Darla. She commenced a snooze mid meal...,40937,8358,Sun Jul 30 15:58:51 +0000 2017
4,891327558926688256,This is Franklin. He would like you to stop ca...,39128,9051,Sat Jul 29 16:00:24 +0000 2017
5,891087950875897856,Here we have a majestic great white breaching ...,19681,3006,Sat Jul 29 00:08:17 +0000 2017
6,890971913173991426,Meet Jax. He enjoys ice cream so much he gets ...,11501,1985,Fri Jul 28 16:27:12 +0000 2017
7,890729181411237888,When you watch your owner call another dog a g...,63438,18215,Fri Jul 28 00:22:40 +0000 2017
8,890609185150312448,This is Zoey. She doesn't want to be one of th...,27063,4123,Thu Jul 27 16:25:51 +0000 2017
9,890240255349198849,This is Cassie. She is a college pup. Studying...,31002,7122,Wed Jul 26 15:59:51 +0000 2017
10,890006608113172480,This is Koda. He is a South Australian decksha...,29817,7079,Wed Jul 26 00:31:25 +0000 2017
11,889880896479866881,This is Bruno. He is a service shark. Only get...,27037,4811,Tue Jul 25 16:11:53 +0000 2017
12,889665388333682689,Here's a puppo that seems to be on the fence a...,46748,9694,Tue Jul 25 01:55:32 +0000 2017
13,889638837579907072,This is Ted. He does his best. Sometimes that'...,26361,4380,Tue Jul 25 00:10:02 +0000 2017
14,889531135344209921,This is Stuart. He's sporting his favorite fan...,14702,2173,Mon Jul 24 17:02:04 +0000 2017
15,889278841981685760,This is Oliver. You're witnessing one of his m...,24543,5198,Mon Jul 24 00:19:32 +0000 2017
16,888917238123831296,This is Jim. He found a fren. Taught him how t...,28316,4349,Sun Jul 23 00:22:39 +0000 2017
17,888804989199671297,This is Zeke. He has a new stick. Very proud o...,24839,4132,Sat Jul 22 16:56:37 +0000 2017
18,888554962724278272,This is Ralphus. He's powering up. Attempting ...,19274,3416,Sat Jul 22 00:23:06 +0000 2017
19,888078434458587136,This is Gerald. He was just told he didn't get...,21153,3364,Thu Jul 20 16:49:33 +0000 2017

In [179]:
tweets_df.shape

(2337, 5)

In [180]:
tweets_df.tweet_id.nunique()

2337

## 2. Tidying + Cleaning

### Cleaning 
- Remove retreats (tweets without images)
- Remove tweets with retweet id
- remove rows where rating_denominator != 10
- remove when p1_dog (and p2 ?) is False in third df
- Remove newer than August 1st, 2017.


### Tidying
- inner join on tweet_id (keep only tweets where data is available in all 3 dfs)
- take ranking from first df
- take name in from first df
- Extract image from second df
- take retreat count from third df
- take favorite count from third df
- take jpg_url from second df
- take all 3 predictions and confidence values from third df

### Cleaning

In [355]:
twitter_archive_df_cleaned = twitter_archive_df.copy()
prediction_df_cleaned = prediction_df.copy()
tweets_df_cleaned = tweets_df.copy()

In [356]:
# tweets without image url are no original rating
#print(twitter_archive_df[twitter_archive_df['expanded_urls'].isnull()]) # for exploration
twitter_archive_df_cleaned = twitter_archive_df_cleaned.dropna(axis=0, subset=['expanded_urls'])

print("Dropped ", twitter_archive_df.shape[0]-twitter_archive_df_cleaned.shape[0], " due to non-original rating tweets.")

Dropped  59  due to non-original rating tweets.

In [357]:
# trating weets without dog name
print('Tweets without dog name:')
twitter_archive_df[twitter_archive_df['name'] == "None"].shape[0]
#twitter_archive_df_cleaned = twitter_archive_df.dropna(axis=0, subset=['name'])
#print("Dropped ", twitter_archive_df.shape[0]-twitter_archive_df_cleaned.shape[0], " due to non-original rating tweets.")

Tweets without dog name:

745

In [358]:
# remove tweets with retweeted_status_id
#twitter_archive_df[~twitter_archive_df['retweeted_status_id'].isnull()] # for exploration
rows_before = twitter_archive_df_cleaned.shape[0]
twitter_archive_df_cleaned = twitter_archive_df_cleaned[twitter_archive_df_cleaned['retweeted_status_id'].isnull()]
print("Dropped ", rows_before-twitter_archive_df_cleaned.shape[0], " due to re-tweets.")

Dropped  180  due to re-tweets.

In [359]:
# no valid rating
#twitter_archive_df_cleaned[twitter_archive_df_cleaned.rating_denominator!= 10] # for exploration
rows_before = twitter_archive_df_cleaned.shape[0]
twitter_archive_df_cleaned = twitter_archive_df_cleaned[twitter_archive_df_cleaned.rating_denominator== 10] 
print("Dropped ", rows_before-twitter_archive_df_cleaned.shape[0], " due to invalid rating denominator.")

Dropped  18  due to invalid rating denominator.

In [360]:
#prediction_df_cleaned[prediction_df.p1_dog == False] # for exploration
rows_before = prediction_df_cleaned.shape[0]
prediction_df_cleaned = prediction_df_cleaned[prediction_df.p1_dog == True]
print("Dropped ", rows_before-prediction_df_cleaned.shape[0], " due to no-dog prediction.")

Dropped  543  due to no-dog prediction.

In [361]:
# convert to datetime
tweets_df_cleaned.created_at = pd.to_datetime(tweets_df_cleaned.created_at)
type(tweets_df_cleaned.created_at[0] ) #test

pandas._libs.tslibs.timestamps.Timestamp

In [362]:
# drop all newer than August 1st 2017
#tweets_df_cleaned[tweets_df_cleaned.created_at > '2017-08-01'] # to explore
rows_before = tweets_df_cleaned.shape[0]
tweets_df_cleaned = tweets_df_cleaned[tweets_df_cleaned.created_at < '2017-08-01']
print("Dropped ", rows_before-tweets_df_cleaned.shape[0], " due to date limit")

Dropped  2  due to date limit

### Tidying

In [390]:
print("rows of twitter_archive_df_cleaned: ", twitter_archive_df_cleaned.shape[0])
print("rows of prediction_df_cleaned: ", prediction_df_cleaned.shape[0])
print("rows of tweets_df_cleaned: ", tweets_df_cleaned.shape[0])

rows of twitter_archive_df_cleaned:  2099
rows of prediction_df_cleaned:  1532
rows of tweets_df_cleaned:  2335

In [391]:
print("columns of twitter_archive_df_cleaned: ", twitter_archive_df_cleaned.shape[1])
print("columns of prediction_df_cleaned: ", prediction_df_cleaned.shape[1])
print("columns of tweets_df_cleaned: ", tweets_df_cleaned.shape[1])

columns of twitter_archive_df_cleaned:  17
columns of prediction_df_cleaned:  12
columns of tweets_df_cleaned:  5

In [392]:
# join twitter_archive_df_cleaned and prediction_df_cleaned
joined_df = twitter_archive_df_cleaned.join(prediction_df_cleaned.set_index('tweet_id'), on='tweet_id', how='inner')

In [393]:
joined_df.shape

(1462, 28)

In [394]:
# join also with tweets_df_cleaned
joined_df = joined_df.join(tweets_df_cleaned.set_index('tweet_id'), on='tweet_id', how='inner', lsuffix='', rsuffix='_otweet')

In [395]:
joined_df.shape

(1457, 32)

In [396]:
joined_df.head(2)

,tweet_id,in_reply_to_status_id,in_reply_to_user_id,timestamp,source,text,retweeted_status_id,retweeted_status_user_id,retweeted_status_timestamp,expanded_urls,...,p2,p2_conf,p2_dog,p3,p3_conf,p3_dog,text_otweet,favorite_count,retweet_count,created_at
2,891815181378084864,NaN,NaN,2017-07-31 00:18:03 +0000,"<a href=""http://twitter.com/download/iphone"" r...",This is Archie. He is a rare Norwegian Pouncin...,NaN,NaN,NaN,https://twitter.com/dog_rates/status/891815181...,...,malamute,0.078253,True,kelpie,0.031379,True,This is Archie. He is a rare Norwegian Pouncin...,24351,4010,2017-07-31 00:18:03+00:00
4,891327558926688256,NaN,NaN,2017-07-29 16:00:24 +0000,"<a href=""http://twitter.com/download/iphone"" r...",This is Franklin. He would like you to stop ca...,NaN,NaN,NaN,https://twitter.com/dog_rates/status/891327558...,...,English_springer,0.225770,True,German_short-haired_pointer,0.175219,True,This is Franklin. He would like you to stop ca...,39128,9051,2017-07-29 16:00:24+00:00

In [397]:
# check if timestamps are all the same after joining
joined_df['timestamp'] = pd.to_datetime(joined_df['timestamp'])
joined_df['created_at'] = pd.to_datetime(joined_df['created_at'])
joined_df[joined_df['timestamp'] != joined_df['created_at']]

Empty DataFrame
Columns: [tweet_id, in_reply_to_status_id, in_reply_to_user_id, timestamp, source, text, retweeted_status_id, retweeted_status_user_id, retweeted_status_timestamp, expanded_urls, rating_numerator, rating_denominator, name, doggo, floofer, pupper, puppo, jpg_url, img_num, p1, p1_conf, p1_dog, p2, p2_conf, p2_dog, p3, p3_conf, p3_dog, text_otweet, favorite_count, retweet_count, created_at]
Index: []

[0 rows x 32 columns]

In [373]:
#joined_df[joined_df['jpg_url'] != joined_df['expanded_urls']] # for exploration

In [401]:
# remove needless columns
joined_df.drop(columns=['created_at', 'in_reply_to_status_id', 'in_reply_to_user_id', 'source', 'retweeted_status_id', 'retweeted_status_user_id', 'retweeted_status_timestamp', 'text_otweet', 'expanded_urls'], inplace=True)

In [402]:
joined_df

,tweet_id,timestamp,text,rating_numerator,rating_denominator,name,doggo,floofer,pupper,puppo,...,p1_conf,p1_dog,p2,p2_conf,p2_dog,p3,p3_conf,p3_dog,favorite_count,retweet_count
2,891815181378084864,2017-07-31 00:18:03+00:00,This is Archie. He is a rare Norwegian Pouncin...,12,10,Archie,None,None,None,None,...,0.716012,True,malamute,0.078253,True,kelpie,0.031379,True,24351,4010
4,891327558926688256,2017-07-29 16:00:24+00:00,This is Franklin. He would like you to stop ca...,12,10,Franklin,None,None,None,None,...,0.555712,True,English_springer,0.225770,True,German_short-haired_pointer,0.175219,True,39128,9051
5,891087950875897856,2017-07-29 00:08:17+00:00,Here we have a majestic great white breaching ...,13,10,None,None,None,None,None,...,0.425595,True,Irish_terrier,0.116317,True,Indian_elephant,0.076902,False,19681,3006
6,890971913173991426,2017-07-28 16:27:12+00:00,Meet Jax. He enjoys ice cream so much he gets ...,13,10,Jax,None,None,None,None,...,0.341703,True,Border_collie,0.199287,True,ice_lolly,0.193548,False,11501,1985
7,890729181411237888,2017-07-28 00:22:40+00:00,When you watch your owner call another dog a g...,13,10,None,None,None,None,None,...,0.566142,True,Eskimo_dog,0.178406,True,Pembroke,0.076507,True,63438,18215
8,890609185150312448,2017-07-27 16:25:51+00:00,This is Zoey. She doesn't want to be one of th...,13,10,Zoey,None,None,None,None,...,0.487574,True,Irish_setter,0.193054,True,Chesapeake_Bay_retriever,0.118184,True,27063,4123
9,890240255349198849,2017-07-26 15:59:51+00:00,This is Cassie. She is a college pup. Studying...,14,10,Cassie,doggo,None,None,None,...,0.511319,True,Cardigan,0.451038,True,Chihuahua,0.029248,True,31002,7122
10,890006608113172480,2017-07-26 00:31:25+00:00,This is Koda. He is a South Australian decksha...,13,10,Koda,None,None,None,None,...,0.957979,True,Pomeranian,0.013884,True,chow,0.008167,True,29817,7079
11,889880896479866881,2017-07-25 16:11:53+00:00,This is Bruno. He is a service shark. Only get...,13,10,Bruno,None,None,None,None,...,0.377417,True,Labrador_retriever,0.151317,True,muzzle,0.082981,False,27037,4811
12,889665388333682689,2017-07-25 01:55:32+00:00,Here's a puppo that seems to be on the fence a...,13,10,None,None,None,None,puppo,...,0.966327,True,Cardigan,0.027356,True,basenji,0.004633,True,46748,9694
13,889638837579907072,2017-07-25 00:10:02+00:00,This is Ted. He does his best. Sometimes that'...,12,10,Ted,None,None,None,None,...,0.991650,True,boxer,0.002129,True,Staffordshire_bullterrier,0.001498,True,26361,4380
14,889531135344209921,2017-07-24 17:02:04+00:00,This is Stuart. He's sporting his favorite fan...,13,10,Stuart,None,None,None,puppo,...,0.953442,True,Labrador_retriever,0.013834,True,redbone,0.007958,True,14702,2173
15,889278841981685760,2017-07-24 00:19:32+00:00,This is Oliver. You're witnessing one of his m...,13,10,Oliver,None,None,None,None,...,0.626152,True,borzoi,0.194742,True,Saluki,0.027351,True,24543,5198
16,888917238123831296,2017-07-23 00:22:39+00:00,This is Jim. He found a fren. Taught him how t...,12,10,Jim,None,None,None,None,...,0.714719,True,Tibetan_mastiff,0.120184,True,Labrador_retriever,0.105506,True,28316,4349
17,888804989199671297,2017-07-22 16:56:37+00:00,This is Zeke. He has a new stick. Very proud o...,13,10,Zeke,None,None,None,None,...,0.469760,True,Labrador_retriever,0.184172,True,English_setter,0.073482,True,24839,4132
18,888554962724278272,2017-07-22 00:23:06+00:00,This is Ralphus. He's powering up. Attempting ...,13,10,Ralphus,None,None,None,None,...,0.700377,True,Eskimo_dog,0.166511,True,malamute,0.111411,True,19274,3416
20,888078434458587136,2017-07-20 16:49:33+00:00,This is Gerald. He was just told he didn't get...,12,10,Gerald,None,None,None,None,...,0.995026,True,pug,0.000932,True,bull_mastiff,0.000903,True,21153,3364
21,887705289381826560,2017-07-19 16:06:48+00:00,This is Jeffrey. He has a monopoly on the pool...,13,10,Jeffrey,None,None,None,None,...,0.821664,True,redbone,0.087582,True,Weimaraner,0.026236,True,29367,5195
23,887473957103951883,2017-07-19 00:47:34+00:00,This is Canela. She attempted some fancy porch...,13,10,Canela,None,None,None,None,...,0.809197,True,Rhodesian_ridgeback,0.054950,True,beagle,0.038915,True,67006,17539
24,887343217045368832,2017-07-18 16:08:03+00:00,You may not have known you needed to see this ...,13,10,None,None,None,None,None,...,0.330741,True,sea_lion,0.275645,False,Weimaraner,0.134203,True,32732,10070
25,887101392804085760,2017-07-18 00:07:08+00:00,This... is a Jubilant Antarctic House Bear. We...,12,10,None,None,None,None,None,...,0.733942,True,Eskimo_dog,0.035029,True,Staffordshire_bullterrier,0.029705,True,29726,5754
26,886983233522544640,2017-07-17 16:17:36+00:00,This is Maya. She's very shy. Rarely leaves he...,13,10,Maya,None,None,None,None,...,0.793469,True,toy_terrier,0.143528,True,can_opener,0.032253,False,34142,7501
27,886736880519319552,2017-07-16 23:58:41+00:00,This is Mingus. He's a wonderful father to his...,13,10,Mingus,None,None,None,None,...,0.309706,True,Great_Pyrenees,0.186136,True,Dandie_Dinmont,0.086346,True,11704,3152
29,886366144734445568,2017-07-15 23:25:31+00:00,This is Roscoe. Another pupper fallen victim t...,12,10,Roscoe,None,None,pupper,None,...,0.999201,True,Chihuahua,0.000361,True,Boston_bull,0.000076,True,20593,3092
31,886258384151887873,2017-07-15 16:17:19+00:00,This is Waffles. His doggles are pupside down....,13,10,Waffles,None,None,None,None,...,0.943575,True,shower_cap,0.025286,False,Siamese_cat,0.002849,False,27219,6091
33,885984800019947520,2017-07-14 22:10:11+00:00,Viewer discretion advised. This is Jimbo. He w...,12,10,Jimbo,None,None,None,None,...,0.972494,True,Shih-Tzu,0.006630,True,Bernese_mountain_dog,0.006239,True,31686,6550
34,885528943205470208,2017-07-13 15:58:47+00:00,This is Maisey. She fell asleep mid-excavation...,13,10,Maisey,None,None,None,None,...,0.369275,True,Labrador_retriever,0.265835,True,kuvasz,0.134697,True,34976,6215
37,885167619883638784,2017-07-12 16:03:00+00:00,Here we have a corgi undercover as a malamute....,13,10,None,None,None,None,None,...,0.812482,True,Siberian_husky,0.071712,True,Eskimo_dog,0.055770,True,21297,4236
38,884925521741709313,2017-07-12 00:01:00+00:00,This is Earl. He found a hat. Nervous about wh...,12,10,Earl,None,None,None,None,...,0.259916,True,American_Staffordshire_terrier,0.198451,True,Staffordshire_bullterrier,0.127725,True,75163,17625
39,884876753390489601,2017-07-11 20:47:12+00:00,This is Lola. It's her first time outside. Mus...,13,10,Lola,None,None,None,None,...,0.822103,True,Norwich_terrier,0.106075,True,Norfolk_terrier,0.037348,True,27115,5427
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2316,666649482315059201,2015-11-17 16:09:56+00:00,Cool dog. Enjoys couch. Low monotone bark. Ver...,4,10,None,None,None,None,None,...,0.447803,True,English_springer,0.170497,True,collie,0.139206,True,1103,615
2317,666644823164719104,2015-11-17 15:51:26+00:00,This is Jimothy. He is a Botwanian Gouda. Can ...,9,10,Jimothy,None,None,None,None,...,0.044333,True,Pembroke,0.043209,True,West_Highland_white_terrier,0.038906,True,228,79
2318,666454714377183233,2015-11-17 03:16:00+00:00,I'll name the dogs from now on. This is Kreggo...,10,10,Kreggory,None,None,None,None,...,0.278954,True,Labrador_retriever,0.237612,True,Great_Pyrenees,0.171106,True,510,207
2319,666447344410484738,2015-11-17 02:46:43+00:00,This is Scout. She is a black Downton Abbey. I...,9,10,Scout,None,None,None,None,...,0.322084,True,giant_schnauzer,0.287955,True,Labrador_retriever,0.166331,True,101,19
2320,666437273139982337,2015-11-17 02:06:42+00:00,Here we see a lone northeastern Cumberbatch. H...,7,10,None,None,None,None,None,...,0.671853,True,beagle,0.124680,True,Saluki,0.044094,True,121,47
2321,666435652385423360,2015-11-17 02:00:15+00:00,"""Can you behave? You're ruining my wedding day...",10,10,None,None,None,None,None,...,0.184130,True,chain_saw,0.056775,False,power_drill,0.036763,False,162,53
2323,666428276349472768,2015-11-17 01:30:57+00:00,Here we have an Austrian Pulitzer. Collectors ...,7,10,None,None,None,None,None,...,0.371361,True,chow,0.249394,True,Pomeranian,0.241878,True,163,81
2324,666421158376562688,2015-11-17 01:02:40+00:00,*internally screaming* 12/10 https://t.co/YMcr...,12,10,None,None,None,None,None,...,0.906777,True,cocker_spaniel,0.090346,True,Shih-Tzu,0.001117,True,310,112
2325,666418789513326592,2015-11-17 00:53:15+00:00,This is Walter. He is an Alaskan Terrapin. Lov...,10,10,Walter,None,None,None,None,...,0.149680,True,papillon,0.148258,True,Chihuahua,0.142860,True,121,45
2327,666407126856765440,2015-11-17 00:06:54+00:00,This is a southern Vesuvius bumblegruff. Can d...,7,10,a,None,None,None,None,...,0.529139,True,bloodhound,0.244220,True,flat-coated_retriever,0.173810,True,105,38
2328,666396247373291520,2015-11-16 23:23:41+00:00,Oh goodness. A super rare northeast Qdoba kang...,9,10,None,None,None,None,None,...,0.978108,True,toy_terrier,0.009397,True,papillon,0.004577,True,162,82
2329,666373753744588802,2015-11-16 21:54:18+00:00,Those are sunglasses and a jean jacket. 11/10 ...,11,10,None,None,None,None,None,...,0.326467,True,Afghan_hound,0.259551,True,briard,0.206803,True,182,88
2331,666353288456101888,2015-11-16 20:32:58+00:00,Here we have a mixed Asiago from the Galápagos...,8,10,None,None,None,None,None,...,0.336874,True,Siberian_husky,0.147655,True,Eskimo_dog,0.093412,True,212,71
2332,666345417576210432,2015-11-16 20:01:42+00:00,Look at this jokester thinking seat belt laws ...,10,10,None,None,None,None,None,...,0.858744,True,Chesapeake_Bay_retriever,0.054787,True,Labrador_retriever,0.014241,True,283,132
2336,666273097616637952,2015-11-16 15:14:19+00:00,Can take selfies 11/10 https://t.co/ws2AMaNwPW,11,10,None,None,None,None,None,...,0.176053,True,toy_terrier,0.111884,True,basenji,0.111152,True,169,76
2339,666102155909144576,2015-11-16 03:55:04+00:00,Oh my. Here you are seeing an Adobe Setter giv...,11,10,None,None,None,None,None,...,0.298617,True,Newfoundland,0.149842,True,borzoi,0.133649,True,77,11
2340,666099513787052032,2015-11-16 03:44:34+00:00,Can stand on stump for what seems like a while...,8,10,None,None,None,None,None,...,0.582330,True,Shih-Tzu,0.166192,True,Dandie_Dinmont,0.089688,True,150,65
2341,666094000022159362,2015-11-16 03:22:39+00:00,This appears to be a Mongolian Presbyterian mi...,9,10,None,None,None,None,None,...,0.195217,True,German_shepherd,0.078260,True,malinois,0.075628,True,160,71
2342,666082916733198337,2015-11-16 02:38:37+00:00,Here we have a well-established sunblockerspan...,6,10,None,None,None,None,None,...,0.489814,True,bull_mastiff,0.404722,True,French_bulldog,0.048960,True,113,44
2343,666073100786774016,2015-11-16 01:59:36+00:00,Let's hope this flight isn't Malaysian (lol). ...,10,10,None,None,None,None,None,...,0.260857,True,English_foxhound,0.175382,True,Ibizan_hound,0.097471,True,315,158
2344,666071193221509120,2015-11-16 01:52:02+00:00,Here we have a northern speckled Rhododendron....,9,10,None,None,None,None,None,...,0.503672,True,Yorkshire_terrier,0.174201,True,Pekinese,0.109454,True,142,58
2345,666063827256086533,2015-11-16 01:22:45+00:00,This is the happiest dog you will ever see. Ve...,10,10,the,None,None,None,None,...,0.775930,True,Tibetan_mastiff,0.093718,True,Labrador_retriever,0.072427,True,461,212
2346,666058600524156928,2015-11-16 01:01:59+00:00,Here is the Rand Paul of retrievers folks! He'...,8,10,the,None,None,None,None,...,0.201493,True,komondor,0.192305,True,soft-coated_wheaten_terrier,0.082086,True,109,57
2348,666055525042405380,2015-11-16 00:49:46+00:00,Here is a Siberian heavily armored polar bear ...,10,10,a,None,None,None,None,...,0.692517,True,Tibetan_mastiff,0.058279,True,fur_coat,0.054449,False,426,235
2350,666050758794694657,2015-11-16 00:30:50+00:00,This is a truly beautiful English Wilson Staff...,10,10,a,None,None,None,None,...,0.651137,True,English_springer,0.263788,True,Greater_Swiss_Mountain_dog,0.016199,True,130,57
2351,666049248165822465,2015-11-16 00:24:50+00:00,Here we have a 1949 1st generation vulpix. Enj...,5,10,None,None,None,None,None,...,0.560311,True,Rottweiler,0.243682,True,Doberman,0.154629,True,105,42
2352,666044226329800704,2015-11-16 00:04:52+00:00,This is a purebred Piers Morgan. Loves to Netf...,6,10,a,None,None,None,None,...,0.408143,True,redbone,0.360687,True,miniature_pinscher,0.222752,True,289,136
2353,666033412701032449,2015-11-15 23:21:54+00:00,Here is a very happy pup. Big fan of well-main...,9,10,a,None,None,None,None,...,0.596461,True,malinois,0.138584,True,bloodhound,0.116197,True,121,43
2354,666029285002620928,2015-11-15 23:05:30+00:00,This is a western brown Mitsubishi terrier. Up...,7,10,a,None,None,None,None,...,0.506826,True,miniature_pinscher,0.074192,True,Rhodesian_ridgeback,0.072010,True,125,46
2355,666020888022790149,2015-11-15 22:32:08+00:00,Here we have a Japanese Irish Setter. Lost eye...,8,10,None,None,None,None,None,...,0.465074,True,collie,0.156665,True,Shetland_sheepdog,0.061428,True,2511,496

In [403]:
joined_df.columns

Index(['tweet_id', 'timestamp', 'text', 'rating_numerator',
       'rating_denominator', 'name', 'doggo', 'floofer', 'pupper', 'puppo',
       'jpg_url', 'img_num', 'p1', 'p1_conf', 'p1_dog', 'p2', 'p2_conf',
       'p2_dog', 'p3', 'p3_conf', 'p3_dog', 'favorite_count', 'retweet_count'],
      dtype='object')